:root {
  --neutral: #f8eddd;
  --main: #95b171;
  --coral: #b15254;
  --bright: #f2e291;
  --dark: #678e7e;
  --accent: #eba566;
}

.about-me-title {
  color: var(--accent);
}

.hero {
  background: var(--main);
  padding: 20px;
  width: 100%;
  height: auto;
  margin: 0;
  text-align: center;
  padding: 160px 10px;
  color: var(--dark);
}

.hero-button {
  background-color: var(--bright);
  padding: 12px;
  line-height: 30px;
  margin-top: 30px;
  border-radius: 5px;
  color: var(--dark);
}

.hero-button:hover {
  border: 1px solid var(--accent);
  background: var(--main);
  color: (--accent);
  text-decoration: none;
}
.about-button {
  border: 1px solid var(--coral);
  color: 1px solid var(--coral);
  text-align: center;
  padding: 12px;
  line-height: 30px;
  border-radius: 5px;
}

.about-button:hover {
  background: var(--main);
  color: white;
  text-decoration: none;
}
.hero-description {
  font-size: 20px;
  line-height: 2;
}

.navbar {
  background: var(--main);
}

.navbar-brand,
.nav-link {
  color: var(--matcha);
  font-family: "Merriweather";
}

h1 {
  font-size: 90px;
  color: var(--bright);
}
h1,
h2 {
  font-family: "Merriweather";
  font-weight: 500;
}

h3,
p {
  font-family: "Lato";
  padding-bottom: 20px;
}

.about-image {
  display: flex;
}

.about-blurb {
  line-height: 1.5;
  padding: 80px;
  margin: 50px;
}

@media (max-width: 1140px) {
  .hero-description {
    font-size: 12px;
  }

  .about-blurb {
    padding-top: 25px;
    margin: 0px;
    text-align: center;
  }
  .about-image {
    max-width: 90%;
  }
}

@media (max-width: 800px) {
  .about-image {
    padding-top: 100px;
  }
}

@media (max-width: 600px) {
  .hero-description {
    font-size: 12px;
  }

  .about-blurb {
    padding-top: 25px;
    margin: 0px;
    text-align: center;
  }
  .about-image {
    display: none;
  }
}
