:root {
  --neutral: #cfe2f8;
  --main: #142b44;
  --main-light: #4b5e73;
  --coral: #3d939d;
  --bright: #fae7ca;
  --dark: #3d939d;
  --accent: #3d939d;
}

footer {
  padding: 40px;
}

footer .contact-box {
  background: var(--neutral);
  padding: 20px;
  text-align: center;
}

footer p {
  padding: 10px 0px 0px 0px;
  text-align: center;
}
footer .contact-info,
.contact-box {
  margin-top: 20px;
}

p {
  opacity: 90%;
}

img .headshot {
  margin: 20px 0px;
}

.footer-button {
  background: var(--dark);
  padding: 10px;
  color: white;
  display: inline;
  margin-top: 35%;
}
.portfolio {
  padding: 20px;
}

.portfolio img {
  opacity: 60%;
  border-radius: 5px;
  width: 20%;
  height: auto;
}

.portfolio img:hover {
  opacity: 100%;
}

.about-me-title {
  color: var(--accent);
}

.toggler-icon {
  color: white;
}
.hero {
  background: var(--main);
  padding: 20px;
  width: 100%;
  height: auto;
  margin: 0;
  text-align: center;
  padding: 160px 10px;
  color: var(--main-light);
}

.hero-button {
  background-color: var(--bright);
  padding: 12px;
  line-height: 30px;
  margin-top: 30px;
  border-radius: 5px;
  color: var(--dark);
}

.hero-button:hover {
  border: 1px solid var(--accent);
  background: var(--main);
  color: (--accent);
  text-decoration: none;
}
.about-button {
  border: 1px solid var(--coral);
  color: 1px solid var(--coral);
  text-align: center;
  padding: 12px;
  line-height: 30px;
  border-radius: 5px;
}

.about-button:hover {
  background: var(--main);
  color: white;
  text-decoration: none;
}

.navbar {
  background: var(--main);
}

.content {
  line-height: 1;
  text-align: center;
  margin-top: 20px;
  color: black;
}

.navbar-brand,
.nav-link {
  color: white;
  font-family: "Merriweather";
}

.navbar-brand,
.nav-link:hover {
  color: var(--neutral);
  font-family: "Merriweather";
}

h1 {
  font-size: 200px;
  color: var(--bright);
  font-weight: 600;
}

h2 {
  font-family: "Merriweather";
  font-weight: 500;
}

h1,
h3,
p {
  font-family: "Lato";
  padding-bottom: 20px;
}

.about-image {
  display: flex;
}

.about-blurb {
  line-height: 1.5;
  padding: 80px;
  margin: 50px;
}

#background-tint {
  background-color: var(--bright);
  background-blend-mode: multiply;
}
.portfolio-blurb {
  margin-top: 5%;
}

@media (max-width: 1140px) {
  .hero-description {
    font-size: 20px;
  }

  .about-blurb {
    padding-top: 25px;
    margin: 0px;
    text-align: center;
  }
  .about-image {
    max-width: 90%;
  }
}

.experience-tablist {
  border: none;
  background: white;
  color: black;
}

.experience-tablist:hover {
  background: var(--main);
}

.nav-link.active {
}

.tab-content {
  margin: 0px 20px;
  max-width: 80%;
}

.portfolio-link {
  border: 2px solid var(--main);
  padding: 15px;
  border-radius: 4px;
  color: var(--dark);
}

.portfolio-link:hover {
  background: var(--main);
  color: white;
  text-decoration: none;
}

.social-links {
  color: var(--main);
  font-size: 25px;
  padding: 0px;
  transition: 2ms ease-in-out;
  text-decoration: none;
  margin: 0 20px;
}

.fa-brands {
  margin: 0 15px;
}
.social-links:hover {
  color: var(--accent);
  font-size: 25px;
  padding: 0px;
  text-decoration: none;
}

@media (max-width: 800px) {
  .about-image {
    padding-top: 100px;
  }
}

#my-experience,
#portfolio-h1 {
  padding: 50px 0px;
  color: black;
}

#hero-name {
  font-size: 80px;
}

@media (max-width: 800px) {
  .portfolio-container {
    text-align: center;
  }
  .portfolio-image {
    margin-top: 30px;
  }
  .portfolio-link {
    margin: 50px;
  }
  footer .footer-button {
    font-size: 15px;
    display: inline-block;
    margin: 30%;
  }
}
@media (max-width: 600px) {
  .hero-description {
    font-size: 12px;
  }

  .about-blurb {
    padding-top: 25px;
    margin: 0px;
    text-align: center;
  }
  .about-image {
    display: none;
  }
  .portfolio-container {
    text-align: center;
  }
  .portfolio-image {
    margin-top: 30px;
  }
  .portfolio-link {
    margin: 50px;
  }
  footer .footer-button {
    font-size: 12px;
    float: left;
  }
}

.experience-about h1 {
  color: black;
}
